@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif:ital@0;1&display=swap');
@import 'tailwindcss';
@font-face {
  font-family: 'Metrik';
  src: url('./assets/fonts/MetrikTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
:root {
  --font-display: 'Instrument Serif', serif;
  --font-body: 'DM Sans', sans-serif;
}

body {
	background-color: #eae7e3;
	padding: 0;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

h1 {
	margin-block-start: 0;
	margin-block-end: 0;
  line-height: 0.95;
}
